.helpCenter{
    padding: .5rem 1rem;
    transition: all .3s ease-in;
}

.helpCenter:hover{
    /* background-color: var(--icons-color); */
    background-color: rgb(23, 23, 34);
    color: var(--shadow-dark-color);
    border-radius: .3rem;
}